@use 'fonts.scss';
@use 'content.scss';

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: 'AppleSDGothicNeoB';

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #333333;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }
}

/* 그라데이션 백그라운드 animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Banner와 Footer 에 적용될 그라데이션 백그라운드 클래스 */
.common-gradient-background {
  background: linear-gradient(65deg, #2a153d, #6f41b6, #4e95e2, #18d3a7);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
