@use 'fonts.scss';
@use 'content.scss';

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  font-family: 'AppleSDGothicNeoB';
  background: linear-gradient(65deg, #2a153d, #6f41b6, #4e95e2, #18d3a7);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

.move-to-top-button-container {
  position: fixed;
  bottom: 10px;
  right: 10px;

  @keyframes arrowButtonAnimation {
    from {
      transform: translatey(5px);
    }
    to {
      transform: translatey(10px);
    }
  }

  .arrow-button {
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
    animation: arrowButtonAnimation 1s /* 속도 */ linear 0s /* 처음부터 끝까지 일정 속도로 진행 */ infinite alternate; /* 무한 반복 */
  }
}
/**
 * 최상단 이동 버튼 Transition CSS
 */
.fade-in-out-move-to-top-button-enter-active {
  transition: all 0.5s ease-out;
}
.fade-in-out-move-to-top-button-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-in-out-move-to-top-button-enter-from,
.fade-in-out-move-to-top-button-leave-to {
  opacity: 0;
}
