.banner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-title-box {
    text-align: center;
    margin-bottom: 8%;
    font-size: 2rem;
    color: white;

    .top-text-box {
      animation-duration: 2s;
      animation-name: topTextAnimation;
    }
    .bottom-text-box {
      animation-duration: 2s;
      animation-name: bottomtextAnimation;
    }

    @keyframes topTextAnimation {
      0% {
        opacity: 0;
        transform: translateY(-100px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes bottomtextAnimation {
      0% {
        opacity: 0;
        transform: translateY(100px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
.about-me-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.skills-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.projects-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.career-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.move-to-top-button-container {
  position: fixed;
  bottom: 10px;
  right: 10px;

  @keyframes arrowButtonAnimation {
    from {
      transform: translatey(5px);
    }
    to {
      transform: translatey(10px);
    }
  }

  .arrow-button {
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
    animation: arrowButtonAnimation 1s /* 속도 */ linear 0s /* 처음부터 끝까지 일정 속도로 진행 */ infinite alternate; /* 무한 반복 */
  }
}
