.banner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-title-box {
    text-align: center;
    margin-bottom: 8%;
    font-size: 4rem;
    color: white;

    .top-text-box {
      animation-duration: 2s;
      animation-name: topTextAnimation;
    }
    .bottom-text-box {
      animation-duration: 2s;
      animation-name: bottomtextAnimation;
    }

    @keyframes topTextAnimation {
      0% {
        opacity: 0;
        transform: translateY(-100px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes bottomtextAnimation {
      0% {
        opacity: 0;
        transform: translateY(100px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .next-content-button-box {
    position: absolute;
    bottom: 15px;
    animation: nextContentBouttnAnimation 1s /* 속도 */ linear 0s /* 처음부터 끝까지 일정 속도로 진행 */ infinite alternate; /* 무한 반복 */

    .chevrons-down-button {
      width: 40px;
      height: 40px;
      color: #ffffff;
      cursor: pointer;
    }

    @keyframes nextContentBouttnAnimation {
      from {
        transform: translatey(5px);
      }
      to {
        transform: translatey(10px);
      }
    }
  }
}
.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
  flex-flow: row wrap;

  .title-box {
    text-align: center;
    font-size: 3rem;
    width: 100%;
    color: #ffffff;
    max-width: 71.25rem;
    margin: 6rem 20px 0px 20px;

    .title {
      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-image: linear-gradient(90deg, #78ace4, #6f41b6);
      border-image-slice: 1;
    }
  }

  .basic-info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
    max-width: 71.25rem;

    .my-info-box {
      display: flex;
      margin-bottom: 35px;
      justify-content: center;
      width: calc(33.33% - 10px);

      .icon-box {
        margin-top: 5px;
        margin-right: 30px;

        .icon {
          width: 35px;
          height: 35px;
          color: white;
        }
      }

      .text-box {
        color: white;
        text-align: center;
        display: block;
        width: 200px;
        font-size: 14px;
      }
    }
  }
  .my-introduction-box {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 6rem;
    gap: 30px;
    max-width: 71.25rem;

    .profile-img-box {
    }
    .my-story-text-box {
      font-size: 14px;

      .title {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
      }
      .last-sentence {
        word-break: keep-all;
      }
    }
  }
}
.skills-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.projects-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.career-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
