.default-layout {
  .default-header {
    transition: all 0.3s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: transparent;

    ::v-deep(.header-content) {
      box-sizing: border-box;
      width: 100%;
      max-width: 70rem;
      height: 4.5rem;
      padding: 1.25rem 2rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      background-color: transparent;

      .my-name-box {
        // 애플 폰트 추가시 적용
        font-size: 24px;
        color: #ffffff;
        font-weight: bold;
      }

      .portfolio-menu-parent-box {
        display: flex;
        gap: 24px;
        align-items: center;
        /*      transition: all 1s ease-in-out; */

        .child-box {
          font-size: 1.2rem;
          cursor: pointer;
          transition: 0.5s;
          opacity: 0.6;
          color: #ffffff;

          &:hover {
            opacity: 1;
            transition: all 1s;
            color: ffffff;
          }
        }
      }
    }
  }
  .default-header-scroll {
    transition: all 0.3s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #ffffff;

    ::v-deep(.header-content) {
      box-sizing: border-box;
      width: 100%;
      max-width: 70rem;
      height: 4.5rem;
      padding: 1.25rem 2rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .my-name-box {
        // 애플 폰트 추가시 적용
        font-size: 24px;
        color: #000000;
        font-weight: bold;
      }

      .portfolio-menu-parent-box {
        display: flex;
        gap: 24px;
        align-items: center;

        .child-box {
          font-size: 1.2rem;
          cursor: pointer;
          transition: 0.5s;
          opacity: 0.4;
          font-weight: bold;
          color: #000000;

          &:hover {
            opacity: 1;
            transition: all 0.8s linear;
            color: ffffff;
          }
        }
      }
    }
  }
  .default-footer {
    display: flex;
    justify-content: center;
    /* 수직으로 배치 */
    flex-direction: column;
    text-align: center;
    height: 200px;

    ::v-deep(.footer-icon-box) {
      padding-top: 10px;
      padding-bottom: 16px;

      .footer-icon {
        width: 35px;
        height: 35px;
        color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
      }
    }

    ::v-deep(.footer-copyright-box) {
      color: #ffffff;
      font-weight: bold;
    }
  }
}
