@use 'transition.scss';

.default-layout {
  .default-header {
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;

    ::v-deep(.header-content) {
      box-sizing: border-box;
      width: 100%;
      max-width: 70rem;
      height: 4.5rem;
      padding: 1.25rem 2rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 730px) {
        background: #ffffff;
      }

      .my-name-box {
        // 애플 폰트 추가시 적용
        font-size: 24px;
        color: #ffffff;
        font-weight: bold;

        @media screen and (max-width: 730px) {
          color: #000000;
        }
      }

      .portfolio-menu-parent-box {
        display: flex;
        gap: 24px;
        align-items: center;
        /*      transition: all 1s ease-in-out; */

        .child-box {
          font-size: 1.2rem;
          cursor: pointer;
          transition: 0.5s;
          opacity: 0.6;
          color: #ffffff;

          &:hover {
            opacity: 1;
            transition: all 1s;
            color: ffffff;
          }
        }
      }

      .hamburger-menu-icon-box {
        display: flex;
        align-items: center;

        .icon {
          width: 30px;
          height: 30px;
          cursor: pointer;
          color: #ffffff;

          @media screen and (max-width: 730px) {
            color: #000000;
          }
        }
      }
    }
  }
  .default-header-scroll {
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #ffffff;

    ::v-deep(.header-content) {
      box-sizing: border-box;
      width: 100%;
      max-width: 70rem;
      height: 4.5rem;
      padding: 1.25rem 2rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .my-name-box {
        // 애플 폰트 추가시 적용
        font-size: 24px;
        color: #000000;
        font-weight: bold;
      }

      .portfolio-menu-parent-box {
        display: flex;
        gap: 24px;
        align-items: center;

        .child-box {
          font-size: 1.2rem;
          cursor: pointer;
          transition: 0.5s;
          opacity: 0.4;
          font-weight: bold;
          color: #000000;

          &:hover {
            opacity: 1;
            transition: all 0.8s linear;
            color: ffffff;
          }
        }
      }

      .hamburger-menu-icon-box {
        display: flex;
        align-items: center;

        .icon {
          width: 30px;
          height: 30px;
          cursor: pointer;
          color: #000000;
        }
      }
    }
  }
  .default-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;

    ::v-deep(.footer-icon-box) {
      display: flex;

      .footer-icon-wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 1.5rem;

        .footer-icon {
          width: 35px;
          height: 35px;
          color: #ffffff;
          padding-left: 10px;
          padding-right: 10px;
          cursor: pointer;
        }
      }
    }

    ::v-deep(.footer-copyright-box) {
      color: #ffffff;
      font-weight: bold;
    }
  }
  ::v-deep(.default-navigation-drawer) {
    border-radius: 10px !important;
    margin-inline-start: 1rem !important;
    margin-inline-end: 0.3rem !important;
    margin-block: 1rem !important;
    flex: 0 1 auto !important;
    height: auto !important;

    .el-drawer__header {
      margin-top: 4px;
      padding-bottom: 24px;
      border-bottom: 1px #000000 solid;
      padding: 28px;
      margin-bottom: 0px;
    }
    .el-drawer__close-btn {
      font-size: 20px;
    }
    .el-drawer__body {
      padding: 0px;
    }
    .title {
      margin-top: 5px;
      color: #000000;
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
    }
    .navigation-drawer-menu-wrapper {
      font-size: 1.2rem;
      padding-top: 28px;
      padding-right: 28px;
      padding-bottom: 1px;
      padding-left: 28px;

      .menu-box {
        cursor: pointer;
        font-family: 'AppleSDGothicNeoM';
      }
    }
    .navigation-drawer-bottom-content-wrapper {
      position: absolute;
      bottom: 1rem;
      display: flex;
      flex-direction: column;
      padding-left: 28px;

      .content {
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon-wrapper {
          border-radius: 2rem;
          background-color: #000000;
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;

          .icon {
            z-index: 999;
            width: 1.5rem;
            height: 1.5rem;
            color: white;
          }
        }
      }
    }
  }
  ::v-deep(.move-to-top-button-wrapper) {
    position: fixed;
    bottom: 10px;
    right: 10px;

    @keyframes arrowButtonAnimation {
      from {
        transform: translatey(5px);
      }
      to {
        transform: translatey(10px);
      }
    }

    .icon {
      width: 50px;
      height: 50px;
      color: white;
      cursor: pointer;
      animation: arrowButtonAnimation 1s /* 속도 */ linear 0s /* 처음부터 끝까지 일정 속도로 진행 */ infinite alternate; /* 무한 반복 */
    }
  }
}
