/**
 * 최상단 이동 버튼 Transition CSS
 */
.fade-in-out-move-to-top-button-enter-active {
  transition: all 0.5s ease-out;
}
.fade-in-out-move-to-top-button-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-in-out-move-to-top-button-enter-from,
.fade-in-out-move-to-top-button-leave-to {
  opacity: 0;
}
